


.hide{
    border:0;
    clip-path: inset(50%);
    height:1px;
    margin:-1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.container{
    padding: 2em;
    width: 80%;
    margin: auto;
    min-width: 320px; 
}
.search-bar{
    width: 30%;
    line-height: 2;
    border-radius: 4px;
    
    transition: all .3s;
    border: 1px solid rgb(49, 64, 67);
}

.search-bar:focus {
    width: 80%;
    max-width: 500px; /* Optional */
    border-color: rgb(26, 131, 131);
    
}


.search-bar::placeholder{
    font-weight: 200;
  
}

.search-bar:focus::placeholder{
    color: transparent;
}