body{
    background-color: rgb(50, 49, 49);
}
.container{
    display: flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}
.border{
    background: linear-gradient(115deg,#eeaf61,#fb9062,#ee5dfc,#ce4993,#6a0d83);
    padding: 4px;
}
.button{
    border:none;
    background: rgb(20, 17, 17);
    color: rgb(185, 184, 184);
    padding: 1em 1.5em;
    font: 2em sans-serif;
    font-family: inherit;
    letter-spacing: .1em;
    /* background: transparent; */
  
}

.border:hover{
    background: linear-gradient(230deg,#eeaf61,#fb9062,#ee5dfc,#ce4993,#6a0d83);

}

.border:hover .button{
    color: rgb(180, 146, 137);
    padding: 1.1em 1.6em;
}